<h1>List of users </h1>

<form action = "" method = "post"> 
     <label for = "">Username</label>
     <input id = "" name = "" placeholder = "Enter a username..."/>
     <button type="submit">Add user </button>
</form>

<hr>
<table border="1">
  <tr>
      <th></th>
  </tr>

  <tr>
      <td></td>
  </tr>


</table>
