<h1>username</h1>

<dl>
    <dt>ID</dt>
    <dd>id</dd>

    <dt>Edit user</dt>
    <dd>
        <form action = "/users/:path_username">
            <label for = "user_name">Username</label>       
            <input id = "user_name" name = ""/>
            <button type = "submit">Update user</button> 
        </form>
    </dd>
</dl>

<h2>Own photos (photo count goes here)</h2>

<table>

</table>
